name: On Push to Main, Version and Tag For Release
on:
  push:
    branches:
    - main

permissions:
  packages: write
  contents: write

jobs:

  version-and-tag:
    name: Version and Tag
    uses: unbounded-tech/workflow-vnext-tag/.github/workflows/workflow.yaml@v1.19.2
    secrets: inherit
    with:
      useDeployKey: true
      