name: On Tag, Trigger GitHub Release

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  call-release-workflow:
    uses: unbounded-tech/workflow-simple-release/.github/workflows/workflow.yaml@v2.0.1
    with:
      tag: ${{ github.ref_name }}
      name: ${{ github.ref_name }}
