name: Build and Release Rust Binaries

on:
  workflow_call:
    inputs:
      binary_name:
        description: "The name of the binary/executable (optional for library crates)"
        required: true
        type: string
      build_args:
        description: "Flags to pass to cargo build command"
        required: false
        type: string
        default: "--release"
      runs-on:
        description: "JSON array of platforms for the matrix"
        required: false
        type: string
        default: |
          [
            {"runs-on": "ubuntu-24.04", "target": "x86_64-unknown-freebsd"},
            {"runs-on": "ubuntu-24.04", "target": "x86_64-unknown-linux-musl"},
            {"runs-on": "ubuntu-24.04", "target": "arm-unknown-linux-musleabi"},
            {"runs-on": "ubuntu-24.04", "target": "i686-unknown-linux-musl"},
            {"runs-on": "macOS-latest", "target": "x86_64-apple-darwin"},
            {"runs-on": "macOS-latest", "target": "aarch64-apple-darwin"},
            {"runs-on": "windows-latest", "target": "i686-pc-windows-msvc"},
            {"runs-on": "windows-latest", "target": "aarch64-pc-windows-msvc"},
            {"runs-on": "windows-latest", "target": "x86_64-pc-windows-msvc"}
          ]

permissions:
  contents: write

jobs:
  setup:
    uses: harmony-labs/runs-on/.github/workflows/setup.yaml@v0.1.2
    with:
      runs-on: ${{ inputs.runs-on }}
  quality:
    needs: setup
    strategy:
      matrix:
        include: ${{ fromJSON(needs.setup.outputs.matrix) }}
    runs-on: ${{ matrix.runs-on }}

    steps:
      - uses: runs-on/action@v1

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: ${{ matrix.target }}
          args: ${{ inputs.build_args }}
          strip: true

      - name: Publish artifacts and release
        uses: houseabsolute/actions-rust-release@v0
        with:
          executable-name: ${{ inputs.binary_name }}
          target: ${{ matrix.target }}
          changes-file: CHANGELOG.md
