name: Build and Release Rust Binaries

on:
  workflow_call:
    inputs:
      binary_name:
        description: "The name of the binary/executable (optional for library crates)"
        required: true
        type: string
      build_args:
        description: "Flags to pass to cargo build command"
        required: false
        type: string
        default: "--release"
      runs-on:
        description: "JSON array of platforms for the matrix"
        required: false
        type: string
        default: |
          [
            {"runs-on": "ubuntu-24.04", "target": "x86_64-unknown-freebsd"},
            {"runs-on": "ubuntu-24.04", "target": "x86_64-unknown-linux-musl"},
            {"runs-on": "ubuntu-24.04", "target": "arm-unknown-linux-musleabi"},
            {"runs-on": "ubuntu-24.04", "target": "i686-unknown-linux-musl"},
            {"runs-on": "macOS-latest", "target": "x86_64-apple-darwin"},
            {"runs-on": "macOS-latest", "target": "aarch64-apple-darwin"},
            {"runs-on": "windows-latest", "target": "i686-pc-windows-msvc"},
            {"runs-on": "windows-latest", "target": "aarch64-pc-windows-msvc"},
            {"runs-on": "windows-latest", "target": "x86_64-pc-windows-msvc"}
          ]
      
      setup-runs-on:
        description: 'Setup job runs-on: Single string only (e.g., "ubuntu-latest")'
        type: string
        default: 'ubuntu-latest'
        required: false

permissions:
  contents: write

jobs:
  setup:
    uses: unbounded-tech/runs-on/.github/workflows/setup.yaml@v0.3.0
    with:
      runs-on: ${{ inputs.runs-on }}
      this-job-runs-on: ${{ inputs.setup-runs-on }}

  create-draft-release:
    needs: setup
    runs-on: ${{ inputs.setup-runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0

      - name: Read Changelog
        id: changelog
        run: |
          if [ -f CHANGELOG.md ]; then
            CHANGELOG=$(cat CHANGELOG.md)
            echo "changelog<<EOF" >> $GITHUB_OUTPUT
            echo "$CHANGELOG" >> $GITHUB_OUTPUT
            echo "EOF" >> $GITHUB_OUTPUT
          else
            echo "changelog=No changelog found" >> $GITHUB_OUTPUT
          fi

      - name: Create Draft Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          body: ${{ steps.changelog.outputs.changelog }}
          token: ${{ github.token }}

  build-and-release:
    needs: [setup, create-draft-release]
    strategy:
      matrix:
        include: ${{ fromJSON(needs.setup.outputs.matrix) }}
    runs-on: ${{ matrix.runs-on }}

    steps:
      - uses: runs-on/action@v2.0.3

      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1.0.5
        with:
          command: build
          target: ${{ matrix.target }}
          args: ${{ inputs.build_args }}
          strip: true

      - name: Publish artifacts and release
        uses: houseabsolute/actions-rust-release@v0.0.6
        with:
          executable-name: ${{ inputs.binary_name }}
          target: ${{ matrix.target }}
          changes-file: CHANGELOG.md
