name: Build and Release Rust Binaries

on:
  workflow_call:
    inputs:
      binary_name:
        description: "The name of the binary/executable (optional for library crates)"
        required: true
        type: string
      build_args:
        description: "Flags to pass to cargo build command"
        required: false
        type: string
        default: "--release --features vendored"
      platforms:
        description: "JSON array of platforms for the matrix"
        required: false
        type: string
        default: |
          [
            {"os-name": "FreeBSD-x86_64", "runs-on": "ubuntu-24.04", "target": "x86_64-unknown-freebsd"},
            {"os-name": "macOS-x86_64", "runs-on": "macOS-latest", "target": "x86_64-apple-darwin"},
            {"os-name": "macOS-aarch64", "runs-on": "macOS-latest", "target": "aarch64-apple-darwin"},
            {"os-name": "Linux-x86_64", "runs-on": "ubuntu-24.04", "target": "x86_64-unknown-linux-musl"},
            {"os-name": "Linux-arm", "runs-on": "ubuntu-24.04", "target": "arm-unknown-linux-musleabi"},
            {"os-name": "Linux-i686", "runs-on": "ubuntu-24.04", "target": "i686-unknown-linux-musl"},
            {"os-name": "Windows-i686", "runs-on": "windows-latest", "target": "i686-pc-windows-msvc"},
            {"os-name": "Windows-aarch64", "runs-on": "windows-latest", "target": "aarch64-pc-windows-msvc"},
            {"os-name": "Windows-x86_64", "runs-on": "windows-latest", "target": "x86_64-pc-windows-msvc"}
          ]

permissions:
  contents: write

jobs:
  publish:
    name: Build and Publish
    runs-on: ${{ matrix.platform.runs-on }}
    strategy:
      matrix:
        platform: ${{ fromJson(inputs.platforms) }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: ${{ matrix.platform.target }}
          args: ${{ inputs.build_args }}
          strip: true

      - name: Publish artifacts and release
        uses: houseabsolute/actions-rust-release@v0
        with:
          executable-name: ${{ inputs.binary_name }}
          target: ${{ matrix.platform.target }}
          changes-file: ""